@model IEnumerable<ClientModel>

<h1>Clientes</h1>

@if (!string.IsNullOrEmpty((String)TempData["successMessage"])) 
{
    <div class="alert alert-warning" role="alert">@TempData["successMessage"]</div>
}

<p> 
    <a asp-action="Create" asp-controller="Client">Criar novo cliente</a>
</p>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Nascimento</th>
            <th>Representante</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>
                    <label>@client.Id</label>
                </td>
                <td>
                    <label>@client.FirstName</label>
                </td>
                <td>
                    <label>@client.LastName</label>
                </td>
                <td>
                    <label>@client.Email</label>
                </td>
                <td>
                    <label>@client.DateOfBirth</label>
                </td>
                <td>
                    <label>Representante Geral</label>
                </td>
                <td>
                    <label>
                        <a 
                            asp-action="Edit" 
                            asp-controller="Client"
                            asp-route-id="@client.Id"
                        >
                            Editar
                        </a>
                    </label>
                    <label>
                        <a 
                            asp-action="Consult" 
                            asp-controller="Client"
                            asp-route-id="@client.Id"
                        >
                            Consultar
                        </a>
                    </label>
                    <label>
                        <a 
                            asp-action="Delete" 
                            asp-controller="Client"
                            asp-route-id="@client.Id"
                        >
                            Excluir
                        </a>
                    </label>
                </td>
            </tr>     
        }
    </tbody>
</table>